---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/geropl/github-mcp-go-test/actions/workflows?page=1&per_page=30
        method: GET
      response:
        body: '{"total_count":1,"workflows":[{"id":149593961,"node_id":"W_kwDOOEmhcs4I6p9p","name":"Test Data Generation Workflow","path":".github/workflows/test-workflow.yml","state":"active","created_at":"2025-03-13T17:38:47.000+01:00","updated_at":"2025-03-13T17:38:47.000+01:00","url":"https://api.github.com/repos/geropl/github-mcp-go-test/actions/workflows/149593961","html_url":"https://github.com/geropl/github-mcp-go-test/blob/main/.github/workflows/test-workflow.yml","badge_url":"https://github.com/geropl/github-mcp-go-test/workflows/Test%20Data%20Generation%20Workflow/badge.svg"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"14022cde3eaf5856245b9078fc926a48814390663ae8408a46c72c1949b74d1b"
            Github-Authentication-Token-Expiration:
                - 2025-04-12 17:32:16 +0200
            X-Accepted-Github-Permissions:
                - actions=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4870"
            X-Ratelimit-Reset:
                - "1741885609"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "130"
        status: 200 OK
        code: 200
        duration: 199.250981ms
